body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
}

header {
    grid-column: span 2;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
}

footer {
    grid-column: span 2;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
}

small {
    font-size: 0.5em;
    opacity: 0.7;
}

a {
    font-size: 19px;
    line-height: 1.42115;
    font-weight: 400;
    letter-spacing: .012em;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    }
    
.icon {
    font-family: ".SF Symbols Fallback";
    opacity: 0.7;
}

h1 {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.015em;
    
}

h2 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -.005em;
}

h3 {
    font-size: 48px;
    line-height: 1.08365;
    font-weight: 600;
    letter-spacing: -.003em;
}

h4 {
    font-size: 28px;
    line-height: 1.19048;
    font-weight: 500;
    letter-spacing: .011em;
}

mark {
    padding: 0.4em;
    border-radius: 16px;
    white-space: nowrap;
    line-height: 2.3em;
}

p {
    font-size: 19px;
    line-height: 1.42115;
    font-weight: 400;
    letter-spacing: .012em;
}

.iframe-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: white;
    }
    
    a {
        color: #6bf;
    }
    
    button {
        background-color: transparent;
        color: white;
        border: none;
    }
}


@media (prefers-color-scheme:light) {
    body {
        background-color: white;
        color: black;
    }
    
    a {
        color: #0070c9;
    }
    
    button {
        background-color: transparent;
        color: black;
        border: none;
    }
}
